<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <style type="text/css">
        #overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6);
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row bg-success">
                <div class="col-lg-12">
                    <p class="text-center text-light display-4 pt-2" style="font-size: 25px;">CRUD Vue.Js & MySql : Muzib Muzakar</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt-3">
                <div class="col-lg-6">
                    <h3 class="text-info">Registered User</h3>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-info float-right" @click="showAddModal=true">
                        <i class="fas fa-user"></i>&nbsp; &nbsp; Add New User
                    </button>
                </div>
            </div>
            <hr class="bg-info">

            <div class="alert alert-danger" v-if="errorMsg">
                {{ errorMsg }}
            </div>
            <div class="alert alert-success" v-if="successMsg">
                {{ successMsg }}
            </div>

            <!-- table -->
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="text-center bg-info text-light">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" v-for="user in user">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phone }}</td>
                                <td>
                                    <a href="#" class="text-success" @click="showEditModal=true; selectUser(user);"><i class="fas fa-edit"></i></a>
                                    <a href="#" class="text-danger" @click="showDeleteModal=true; selectUser(user);"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!-- modal Add New User -->
        <div id="overlay" v-if="showAddModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add New User</h5>
                        <button type="button" class="close" @click="showAddModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="#" method="POST">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control form-control-lg" placeholder="Name" v-model="newUser.name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control form-control-lg" placeholder="Email" v-model="newUser.email">
                            </div>
                            <div class="form-group">
                                <input type="tel" name="phone" class="form-control form-control-lg" placeholder="Phone" v-model="newUser.phone">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info btn-block btn-lg" @click="showAddModal=false; addUser();">
                                    Add User
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal Edit User -->
        <div id="overlay" v-if="showEditModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit User</h5>
                        <button type="button" class="close" @click="showEditModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="#" method="POST">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control form-control-lg" v-model="currentUser.name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control form-control-lg" v-model="currentUser.email">
                            </div>
                            <div class="form-group">
                                <input type="tel" name="phone" class="form-control form-control-lg" v-model="currentUser.phone">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info btn-block btn-lg" @click="showEditModal=false; updateUser();">
                                    Update User
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal Delete User -->
        <div id="overlay" v-if="showDeleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete User</h5>
                        <button type="button" class="close" @click="showDeleteModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <h4>Are you sure want to delete this user?</h4>
                        <h5>You are deleting '{{ currentUser.name }}'</h5>
                        <hr>
                        <button class="btn btn-danger btn-lg" @click="showDeleteModal=false; deleteUser();">Yes</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-success btn-lg" @click="showDeleteModal=true">No</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>

    <script>
    var app = new Vue({
        el: '#app',
        data: {
            errorMsg: "",
            successMsg: "",
            showAddModal: false,
            showEditModal: false,
            showDeleteModal: false,
            user: [],
            newUser: {name: "", email: "", phone: ""},
            currentUser: {}
        },

        mounted: function() {
            this.getAllUser();
        },

        methods: {
            getAllUser(){
                axios.get("http://localhost/crud-vue/process.php?action=read").then(function(response){
                if(response.data.error){
                    app.errorMsg = response.data.message;   
                } else{
                    app.user = response.data.user;
                }
                });
            },
            // add
            addUser(){
                var formData = app.toFormData(app.newUser);
                axios.post("http://localhost/crud-vue/process.php?action=create", formData).then(function(response){
                app.newUser = {name: "", email:"", phone:""};
                if(response.data.error){
                    app.errorMsg = response.data.message;   
                } else{
                    app.successMsg = response.data.message;
                    app.getAllUser();
                }
                });
            },
            // update
            updateUser(){
                var formData = app.toFormData(app.currentUser);
                axios.post("http://localhost/crud-vue/process.php?action=update", formData).then(function(response){
                app.currentUser = {};
                if(response.data.error){
                    app.errorMsg = response.data.message;   
                } else{
                    app.successMsg = response.data.message;
                    app.getAllUser();
                }
                });
            },
            // delete
            deleteUser(){
                var formData = app.toFormData(app.currentUser);
                axios.post("http://localhost/crud-vue/process.php?action=delete", formData).then(function(response){
                app.currentUser = {};
                if(response.data.error){
                    app.errorMsg = response.data.message;   
                } else{
                    app.successMsg = response.data.message;
                    app.getAllUser();
                }
                });
            },

            toFormData(obj){
                var fd = new FormData();
                for(var i in obj){
                    fd.append(i,obj[i]);
                }
                return fd;
            },
            selectUser(user){
                app.currentUser = user;
            }
        },
    })
    </script>
</body>

</html>